log*.html

.idea
*.xcodeproj
.vscode
.cache
.zig-cache

profile*
fuzz-results
test/fuzz/out
test/fixtures/grammars/*
!test/fixtures/grammars/.gitkeep

package-lock.json
node_modules

docs/assets/js/tree-sitter.js

/tree-sitter.pc

/target
*.wasm
.swiftpm
.build
build
zig-*

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

